body {
    display: flex;
    justify-content: center;
    padding: 25%;
}

.screen {
    margin: 2.5% 1.25%;
    width: auto;
    height: 80px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2.5%;
    font-size: 60px;
    border-style: solid;
    border-width: 10px;
}

.calc {
    display: flex;
    flex-direction: column;
    background-color: grey;
    width: 40%;
    height: 500px;
    border-style: solid;
}

.buttons {
    margin: 2.5% 1.25%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row {
    display: flex;
    flex: 1;
    justify-content: space-between;

    
}

button {
    flex-basis: 24%;
    font-size: 24px;

}

#row5 {
    gap:4px;
}

.row #zero {
    flex-grow: 2;
}

.number {
    background-color: rgb(16, 105, 43);
}

.operator{
    background-color: orange;
}

.operator:active,
.active {
    top: 2px;
    left: 1px;
    box-shadow: none;
    background-color: lightcoral;
}

.misc {
    background-color: rgb(57, 170, 214);
}